            <div id="" class="">
              <div class="menu_section active">
                <ul id="ul-bar" class="nav side-menu" style="">
                  <li style="font-size: larger" id="navbar-menu" class=""><a href="{% url 'dashboard' %}">音频信息<span class=""></span></a>
                  </li>
                  <li style="font-size: larger" id="navbar-menu" class=""><a href="{% url 'file_trans' %}">音频上传<span class=""></span></a>
                  </li>
                </ul>
              </div>
            </div>